body {
    background: linear-gradient(to left, white, yellow, #00FF2D, #00FF2D, #00FF2D, #00FF2D, #00FF2D, yellow, white);
    margin: 0 auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: #00FF2D;
}

.highScore, #customContainer {
    background: #222222;
    border: 4px solid #00FF2D;
    border-radius: 32px;
    padding: 10px;
}

#custom, #customShow, .highScore, #customContainer {
    display: inline-block;
    box-sizing: border-box;
}

input {
    min-width: 44px;
    margin-right: 46px;
    background: #00FF2D;
    border: none;
    font-weight: bolder;
}

.highScore, #custom, #customShow {
    min-width: 412px;
}

#custom {
    margin: 8px auto;
    text-align: right;
}

#customShow {
    font-size: 24px;
}

.block {
    display: block;
}
