html {
    background: rgb(51, 51, 51);
    background: linear-gradient(to left, black, yellow, #00FF2D, #00FF2D, #00FF2D, #00FF2D, #00FF2D, yellow, black);
}

body {
    margin: 0 auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace
}
